NEXT_PUBLIC_SUPABASE_URL=https://xncucwiaotqxyupsgbrc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhuY3Vjd2lhb3RxeHl1cHNnYnJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczOTA4MjIsImV4cCI6MjA5Mjk2NjgyMn0.dpKeFkNuCRcfyCZI0sH6LZEPKNlGgfgd2VNQwovuIBs